{% extends 'website/base.html' %}

{% block content %}
 
<div class="container p-4">
    <h2 class="mb-30 text-center">Your Cart</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="table-responsive">
                <table class="table table-borderless text-center">
                    <thead>
                        <tr class="text-uppercase">
                            <th class="text-muted font-md fw-600">Product</th>
                            <th class="text-muted font-md fw-600">Price</th>
                            <th class="text-muted font-md fw-600">Quantity</th>
                            <th class="text-muted font-md fw-600">Total</th>
                            <th class="text-muted font-md fw-600">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0">{{ item.product.name }}</h6>
                                    </div>
                                </div>
                            </td>
                            <td class="text-success">${{ item.product.discounted_price|default:item.product.regular_price }}</td>
                            <td>
                                <form method="post" action="{% url 'update_cart_item' item.id %}" class="d-flex justify-content-center">
                                    {% csrf_token %}
                                    <div class="detail-extralink">
                                        <div class="detail-qty border radius">
                                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="qty-val text-center">
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td class="text-success">${{ item.total_price }}</td>
                            <td>
                                <form method="post" action="{% url 'remove_from_cart' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="text-muted bg-transparent border-0"><i class="fi-rs-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="row mt-50">
                <div class="col-lg-12">
                    <div class="p-40 border-radius-15 border text-center">
                        <h4 class="mb-10">Apply Coupon</h4>
                        <p class="mb-30"><span class="font-lg text-muted">Using A Promo Code?</span></p>
                        <form method="post" action="{% url 'cart_view' %}">
                            {% csrf_token %}
                            <div class="d-flex justify-content-center">
                                <input class="font-medium mr-15 coupon" name="coupon_code" placeholder="Enter Your Coupon">
                                <button class="btn btn-success" type="submit"><i class="fi-rs-label mr-10"></i>Apply</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="border p-md-4 cart-totals border-radius-15">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            
                            <tr>
                                <td scope="col" colspan="2">
                                    <div class="divider-2 mt-10 mb-10"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart_total_label">
                                    <h6 class="text-muted">Shipping</h6>
                                </td>
                                <td class="cart_total_amount">
                                    <h5 class="text-heading text-end">Free</h5>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart_total_label">
                                    <h6 class="text-muted">Estimate for</h6>
                                </td>
                                <td class="cart_total_amount">
                                    <h5 class="text-heading text-end">United Kingdom</h5>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col" colspan="2">
                                    <div class="divider-2 mt-10 mb-10"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart_total_label">
                                    <h6 class="text-muted">Total</h6>
                                </td>
                                <td class="cart_total_amount">
                                    <h4 class="text-success text-end">${{ cart.total }}</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="{% url 'checkout' %}" class="btn btn-success w-100">Proceed To CheckOut<i class="fi-rs-sign-out ml-15"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}